<div class="landing-container">
  <h1>Welcome to the Book Library!</h1>
  <p>Explore our collection of books and enjoy reading.</p>

    <%= link_to "Go to Books", books_path, class: "pure-button pure-button-primary"  %>

</div>
